Flask==2.2.5
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
pymongo==4.3.3
tensorflow-cpu
keras==2.12.0
numpy==1.23.5
opencv-python==4.8.0.76
speechrecognition==3.8.1
transformers==4.28.1
torch==2.0.1
torchaudio==2.0.2
datetime==5.1
gunicorn